@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: "Roboto Mono", monospace;
    margin: 0;padding: 0;box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html,body{
    max-width: 100%;
}
.main-navigation{
    font-weight: normal;
    transition: all 0.15s linear 0.15s;
    text-shadow: none;
    text-decoration: none;
}
.main-navigation:hover{
    text-shadow: none;
    font-weight: bold;
    transition: all 0.15s linear 0.15s;
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 0.625rem;
}
::-webkit-scrollbar-track{
    background-color: #ee0707;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(238, 20, 191);
}

.card{
    box-shadow: none;
    transition:all 0.5s linear 0.10s;
}

.card:hover{
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    transition:all 0.5s linear 0.10s;
}

.right_part ul{
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-icon:hover{
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    transition: .8s ease-in-out;
}
.navigation{
    padding: 10px 10px;
    width: 20px;
    height: 20px;
    border-radius: none;
    box-shadow: none;
    transition:all 0.5s linear 0.10s;

}
.navigation:hover{
    padding: 10px 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    transition:all 0.5s linear 0.10s;

}

.footer-social-icon{
    padding: 10px 10px;
    width: 20px;
    height: 20px;
    border-radius: none;
    box-shadow:none;
    transition:all 0.5s linear 0.10s;
}
.footer-social-icon:hover{
    padding: 10px 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    transition:all 0.5s linear 0.10s;
}

.my-skills,.about-me{
    display: flex;
    flex-direction: row-reverse;
}
